/* Estilos gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    padding: 0 40px;
    gap: 30px;
    overflow-x: hidden;
}

header {
    width: 100%;
}

.form-control {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px;
    vertical-align: middle;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar-right a,
.cart-icon {
    margin: 0 10px;
    text-decoration: none;
    color: #C92071;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-right .btn-link:hover,
.navbar-right .btn-danger:hover {
    background-color: #C92071;
    color: #ffffff;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    margin: 0 10px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #C92071;
    font-weight: bold;
}

.nav-links ul li a:hover {
    color: #ffffff;
    background-color: #C92071;
    padding: 5px 10px;
    border-radius: 4px;
}

.cart-icon {
    font-size: 24px;
    position: relative;
}

.cart-icon::after {
    content: '?';
    position: absolute;
    top: -10px;
    right: -10px;
    background: #C92071;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS media query para telas menores */
@media (max-width: 600px) {
    .navbar-right {
        display: none;
    }

    .form-control {
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    .navbar-content {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Estilos das seções */
section {
    border: 1px solid black;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

/* Estilos do rodapé */
footer {
    border: 1px solid black;
    width: 100%;
    height: 300px;
}

/* Ajuste para ignorar o padding extra do body */
.ignore-padding {
    margin-left: -40px;
    margin-right: -40px;
    width: calc(100% + 80px);
}
