@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0%;
  height: 100%;
}

.section {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.header {
  text-align: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 200px;
}

.footer {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.bg-gradiente-oferta {
  background: rgb(209, 209, 216);
      background: linear-gradient(184deg, rgba(209, 209, 216, 1) 0%, rgba(255, 255, 255, 0.5825980050223214) 46%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}