@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100..900&family=Splash&display=swap');
.colecao-segunda-parte{
           
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #A9A9A9	;
 
   
}
.conde{
    display: flex;
    gap: 40px;

}
.card-circulo{
          
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

}
.icon{
        
    width: 100px;
    height: 100px;

    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

}
.titulo-circulo{
    letter-spacing: 1px;
    font-size: 15px;
}
.colecao-destaque-segunda{
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    color: #A9A9A9	;
 
}

.mySwiper{
    background-color: red;
    z-index: -1px;
}